<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin dashboard</title>
</head>
<link rel="stylesheet" href="style2.css" type="text/css" />
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
	<div id="mySidenav" class="sidenav">
		<p class="logo">Central Library</p>
		<a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i>
			Dashboard</a> <a href="#" class="icon-a"><i class="fa fa-book icons"></i>
			Add Books</a> <a href="#" class="icon-a"><i class="fa fa-list icons"></i>
			View Books</a> <a href="#" class="icon-a"><i
			class="fa fa-shopping-bag icons"></i> Order book</a> <a href="#"
			class="icon-a"><i class="fa fa-trash icons"></i> Delete book</a> <a
			href="#" class="icon-a"><i class="fa fa-edit icons"></i> Update
			Book</a>
	</div>
	<div id="main">
		<div class="head">
			<div class="col-div-6">
				<span style="font-size: 40px; cursor: pointer; color: white;"
					class="nav">Dashboard</span> 
			</div>
		</div>
		<br />
</body>
</html>