<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>User dashboard</title>
</head>
<link rel="stylesheet" href="style2.css" type="text/css" />
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
	<div id="mySidenav" class="sidenav">
		<p class="logo">Central Library</p>
		<a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i>
			Dashboard</a> <a href="#" class="icon-a"><i class="fa fa-book icons"></i>
			issue Book</a> <a href="#" class="icon-a"><i class="fa fa-arrow-left"></i>
			return Book</a> 
	</div>
	<div id="main">
		<div class="head">
			<div class="col-div-6">
				<span style="font-size: 40px; cursor: pointer; color: white;"
					class="nav">hello user</span> 
			</div>
		</div>
		<br />
</body>
</html>